{
    "swagger": "2.0",
    "info": {
        "version": "v1.0",
        "title": "Power BI Client"
    },
    "host": "api.powerbigov.us",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/v1.0/myorg/groups/{groupId}/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasets from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetDatasetsInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The workspace ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Datasets"
                        }
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "name": "SalesMarketing",
                                            "addRowsAPIEnabled": false,
                                            "configuredBy": "john@contoso.com",
                                            "isRefreshable": true,
                                            "isEffectiveIdentityRequired": false,
                                            "isEffectiveIdentityRolesRequired": false,
                                            "isOnPremGatewayRequired": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Creates a new dataset in the specified workspace.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "Datasets_PostDatasetInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "The workspace ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "dataset",
                        "in": "body",
                        "description": "Create dataset parameters",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateDatasetRequest"
                        }
                    },
                    {
                        "name": "defaultRetentionPolicy",
                        "description": "The default retention policy",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "None",
                            "basicFIFO"
                        ],
                        "x-ms-enum": {
                            "name": "DefaultRetentionPolicy",
                            "modelAsExtensible": true,
                            "values": [
                                {
                                    "value": "None",
                                    "description": "None"
                                },
                                {
                                    "value": "basicFIFO",
                                    "description": "basicFIFO"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    },
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "x-ms-examples": {
                    "Push example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "defaultRetentionPolicy": "basicFIFO",
                            "dataset": {
                                "name": "SalesMarketing",
                                "defaultMode": "Push",
                                "tables": [
                                    {
                                        "name": "Product",
                                        "columns": [
                                            {
                                                "name": "ProductID",
                                                "dataType": "Int64"
                                            },
                                            {
                                                "name": "Name",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "Category",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "IsCompete",
                                                "dataType": "bool"
                                            },
                                            {
                                                "name": "ManufacturedOn",
                                                "dataType": "DateTime"
                                            },
                                            {
                                                "name": "Sales",
                                                "dataType": "Int64",
                                                "formatString": "Currency"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "201": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "defaultRetentionPolicy": "basicFIFO"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/upstreamDataflows": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of upstream dataflows for datasets from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetDatasetToDataflowsLinksInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DatasetToDataflowLinksResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetDatasetInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        }
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "addRowsAPIEnabled": false,
                                    "configuredBy": "john@contoso.com",
                                    "isRefreshable": true,
                                    "isEffectiveIdentityRequired": true,
                                    "isEffectiveIdentityRolesRequired": true,
                                    "isOnPremGatewayRequired": false,
                                    "targetStorageMode": "Abf"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the properties for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThe user must be the dataset owner.\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "Datasets_UpdateDatasetInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateDatasetRequest",
                        "in": "body",
                        "description": "Update dataset request parameters",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateDatasetRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example of changing the dataset storage mode to support large datasets": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "targetStorageMode": "PremiumFiles"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Example of changing the dataset storage mode to support small datasets": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "targetStorageMode": "Abf"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Example of updating scale-out settings of a dataset": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "queryScaleOutSettings": {
                                    "autoSyncReadOnlyReplicas": false,
                                    "maxReadOnlyReplicas": -1
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Deletes the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "Datasets_DeleteDatasetInGroup",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/tables": {
            "get": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Returns a list of tables within the specified dataset from the specified workspace.",
                "description": "\n## Required Scope\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "Datasets_GetTablesInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Tables"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/tables/{tableName}": {
            "put": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Updates the metadata and schema for the specified table within the specified dataset from the specified workspace.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**.\n<br><br>",
                "operationId": "Datasets_PutTableInGroup",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "The request message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Table"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Table"
                        }
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "name": "Product",
                                "columns": [
                                    {
                                        "name": "ProductID",
                                        "dataType": "Int64"
                                    },
                                    {
                                        "name": "Name",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "Category",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "IsCompete",
                                        "dataType": "bool"
                                    },
                                    {
                                        "name": "ManufacturedOn",
                                        "dataType": "DateTime"
                                    },
                                    {
                                        "name": "NewColumn",
                                        "dataType": "string"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "name": "Product"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/tables/{tableName}/rows": {
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Adds new data rows to the specified table within the specified dataset from the specified workspace.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- This API call only supports **push datasets**.\n- See [Power BI REST API limitations](/power-bi/developer/automation/api-rest-api-limitations).\n<br><br>",
                "operationId": "Datasets_PostRowsInGroup",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "required": true,
                        "description": "The dataset ID",
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "requestMessage",
                        "in": "body",
                        "description": "The request message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostRowsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "rows": [
                                    {
                                        "ProductID": 1,
                                        "Name": "Adjustable Race",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 2,
                                        "Name": "LL Crankarm",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 3,
                                        "Name": "HL Mountain Frame - Silver",
                                        "Category": "Bikes",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Deletes all rows from the specified table within the specified dataset from the specified workspace.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "Datasets_DeleteRowsInGroup",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshes": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh history for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n\n## Limitations\n\nOneDrive refresh history isn't returned.\n<br><br>",
                "operationId": "Datasets_GetRefreshHistoryInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "description": "The requested number of entries in the refresh history. If not provided, the default is the last available 60 entries.",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Refreshes"
                        }
                    }
                },
                "x-ms-examples": {
                    "In-progress refresh example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "status": "Unknown",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Completed refresh example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "status": "Completed",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1",
                                            "refreshAttempts": [
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:25:43.153Z",
                                                    "endTime": "2017-06-13T09:31:40.153Z",
                                                    "type": "Data"
                                                },
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:31:40.156Z",
                                                    "endTime": "2017-06-13T09:31:43.153Z",
                                                    "type": "Query"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Failed refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "serviceExceptionJson": "{\"errorCode\":\"ModelRefreshFailed_CredentialsNotSpecified\"}",
                                            "status": "Failed",
                                            "requestId": "11bf290a-346b-48b7-8973-c5df149337ff",
                                            "refreshAttempts": [
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:25:43.153Z",
                                                    "endTime": "2017-06-13T09:31:43.153Z",
                                                    "serviceExceptionJson": "{\"errorCode\":\"ModelRefreshFailed_CredentialsNotSpecified\"}",
                                                    "type": "Data"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Triggers a refresh for the specified dataset from the specified workspace. An [enhanced refresh](/power-bi/connect-data/asynchronous-refresh) is triggered only if a request payload other than `notifyOption` is set.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- For Shared capacities, a maximum of eight requests per day, including refreshes executed by using scheduled refresh, can be initiated.\n- For Shared capacities, only `notifyOption` can be specified in the request body.\n- Enhanced refresh is not supported for shared capacities.\n- For enhanced refresh, `notifyOption` is not required and must be excluded from the request body. However, one or more parameters other than `notifyOption` are required.\n- For Premium capacities, the maximum requests per day is only limited by the available resources in the capacity. If available resources are overloaded, refreshes are throttled until the load is reduced. The refresh will fail if throttling exceeds 1 hour.\n<br><br>",
                "operationId": "Datasets_RefreshDatasetInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasetRefreshRequest",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DatasetRefreshRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "headers": {
                            "x-ms-request-id": {
                                "description": "The `refreshId` for [getting refresh execution details in group](#/operationId/Datasets_GetRefreshExecutionDetailsInGroup) or [cancelling refresh in group](/rest/api/power-bi/datasets/cancel-refresh-in-group). This would be returned only if any request payload except `notifyOption` is set.",
                                "type": "string",
                                "format": "url"
                            },
                            "Location": {
                                "description": "The full URI for [getting refresh execution details in group](#/operationId/Datasets_GetRefreshExecutionDetailsInGroup) or [cancelling refresh in group](/rest/api/power-bi/datasets/cancel-refresh-in-group). This would be returned only if any request payload except `notifyOption` is set.",
                                "type": "string",
                                "format": "url"
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Example of refreshing a dataset": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetRefreshRequest": {
                                "notifyOption": "MailOnFailure",
                                "retryCount": 3
                            }
                        },
                        "responses": {
                            "202": {
                                "headers": {
                                    "x-ms-request-id": "87f31ef7-1e3a-4006-9b0b-191693e79e9e",
                                    "Location": "https://api.powerbigov.us/v1.0/myorg/groups/f089354e-8366-4e18-aea3-4cb4a3a50b48/datasets/cfafbeb1-8037-4d0c-896e-a46fb27ff229/refreshes/87f31ef7-1e3a-4006-9b0b-191693e79e9e"
                                }
                            }
                        }
                    },
                    "Example of refreshing one partition": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetRefreshRequest": {
                                "type": "full",
                                "commitMode": "transactional",
                                "objects": [
                                    {
                                        "table": "Customer",
                                        "partition": "Robert"
                                    }
                                ],
                                "applyRefreshPolicy": "false"
                            }
                        },
                        "responses": {
                            "200": {
                                "description": "OK"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshes/{refreshId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns execution details of an [enhanced refresh operation](/power-bi/connect-data/asynchronous-refresh) for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetRefreshExecutionDetailsInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "description": "The workspace ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "refreshId",
                        "description": "The refresh ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK (this response is returned when the refresh operation has completed or failed)",
                        "schema": {
                            "$ref": "#/definitions/DatasetRefreshDetail"
                        }
                    },
                    "202": {
                        "description": "Accepted (this response is returned when the refresh operation is still in progress)",
                        "schema": {
                            "$ref": "#/definitions/DatasetRefreshDetail"
                        }
                    }
                },
                "x-ms-examples": {
                    "In progress refresh example": {
                        "parameters": {
                            "groupId": "fdb91b8f-0a9b-44c1-b6c0-0cb185c6ebfb",
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "630110f5-8f93-49c2-afee-bfc87072460c"
                        },
                        "responses": {
                            "202": {
                                "body": {
                                    "startTime": "2021-12-14T03:46:04.833",
                                    "type": "Full",
                                    "commitMode": "Transactional",
                                    "status": "Unknown",
                                    "extendedStatus": "NotStarted",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 0
                                }
                            }
                        }
                    },
                    "Completed refresh example": {
                        "parameters": {
                            "groupId": "fdb91b8f-0a9b-44c1-b6c0-0cb185c6ebfb",
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "87f31ef7-1e3a-4006-9b0b-191693e79e9e"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "startTime": "2021-12-10T08:40:31.57",
                                    "endTime": "2021-12-10T08:40:43.87",
                                    "type": "Full",
                                    "commitMode": "Transactional",
                                    "status": "Completed",
                                    "extendedStatus": "Completed",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 0,
                                    "objects": [
                                        {
                                            "table": "DateTableTemplate_78e78207-b3fb-41b5-8b95-e5efca989067",
                                            "partition": "DateTableTemplate_78e78207-b3fb-41b5-8b95-e5efca989067-ae306fb4-3b7e-4a41-824d-cb3b452fedfc",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_e9d8a66b-4018-4d16-be8c-402b2037c051",
                                            "partition": "LocalDateTable_e9d8a66b-4018-4d16-be8c-402b2037c051-59bc07f8-85c9-456a-ad36-18e1de4d77ed",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_55935f6b-04d1-4cfe-8856-ed9f9e73ab2e",
                                            "partition": "LocalDateTable_55935f6b-04d1-4cfe-8856-ed9f9e73ab2e-d95ae7f7-19c9-48a8-9c16-fcab26558bc2",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_ff25f80e-eb04-4229-986d-b40223c04f1c",
                                            "partition": "LocalDateTable_ff25f80e-eb04-4229-986d-b40223c04f1c-6606fc4c-4cda-49e1-8acd-e55a6ec36cb3",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimCurrency",
                                            "partition": "DimCurrency-e5524cc4-a898-433b-91aa-c001b9a6d676",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimCustomer",
                                            "partition": "DimCustomer-a31bbd93-e20a-4dee-a33c-7afa27785953",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_fa65a206-f320-4d5d-abcc-1dc0f051ca7d",
                                            "partition": "LocalDateTable_fa65a206-f320-4d5d-abcc-1dc0f051ca7d-06a48a0a-a32b-48a3-b113-924aafd6363c",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_78a4e1b7-a2e5-4bbf-ab68-7c87961b68a2",
                                            "partition": "LocalDateTable_78a4e1b7-a2e5-4bbf-ab68-7c87961b68a2-5b3ba715-7c84-4e52-b310-485b93cfbe6d",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimDate",
                                            "partition": "DimDate-62e2f91b-53e5-4ed3-8618-fec74dba5e0d",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_e72c294f-0a06-4051-b943-e6bf8389e2c3",
                                            "partition": "LocalDateTable_e72c294f-0a06-4051-b943-e6bf8389e2c3-891a0e68-d414-4ba3-9c4b-e6f1ec73d4f3",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimProduct",
                                            "partition": "DimProduct-3d07cc89-2bd7-4a98-bb37-3368c1562f98",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_e37e4431-8c1a-449c-8796-b704df200a92",
                                            "partition": "LocalDateTable_e37e4431-8c1a-449c-8796-b704df200a92-8596ebb8-418f-4e50-a921-dac88c6f1339",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_73faffeb-a0c7-4ea1-83dc-530823b0fea0",
                                            "partition": "LocalDateTable_73faffeb-a0c7-4ea1-83dc-530823b0fea0-13795c4e-708f-4ddc-8ea3-5a2f39ae2253",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimPromotion",
                                            "partition": "DimPromotion-21e6c333-430e-4350-8c94-cdceb362c4c7",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_9c19746b-db7d-4b7e-b95d-c66e4b8fefc8",
                                            "partition": "LocalDateTable_9c19746b-db7d-4b7e-b95d-c66e4b8fefc8-395de144-ad53-41c0-9ec0-68bab6158d99",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "LocalDateTable_d96435dd-6110-4246-996c-616c96125e71",
                                            "partition": "LocalDateTable_d96435dd-6110-4246-996c-616c96125e71-891737ee-c46c-4b9f-bfa8-e4555004e20f",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimSalesTerritory",
                                            "partition": "DimSalesTerritory-6d88f938-13d5-49f8-899c-d11b3d346ad5",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "FactInternetSales",
                                            "status": "Completed"
                                        }
                                    ],
                                    "refreshAttempts": [
                                        {
                                            "attemptId": 1,
                                            "startTime": "2021-12-10T08:40:31.57",
                                            "endTime": "2021-12-10T08:40:43.87",
                                            "type": "Data"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Failed refresh example": {
                        "parameters": {
                            "groupId": "fdb91b8f-0a9b-44c1-b6c0-0cb185c6ebfb",
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "351f7113-59bb-4e5e-8c1e-e15ae7414121"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "startTime": "2021-12-10T08:39:28.517",
                                    "endTime": "2021-12-10T08:39:30.04",
                                    "type": "Full",
                                    "commitMode": "PartialBatch",
                                    "status": "Failed",
                                    "extendedStatus": "Failed",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 0,
                                    "messages": [
                                        {
                                            "message": "RefreshApiRequest for table refresh using refresh policy must have the property 'CommitMode' = 'Transactional' instead of 'PartialBatch'.",
                                            "type": "Error"
                                        }
                                    ],
                                    "refreshAttempts": [
                                        {
                                            "attemptId": 1,
                                            "startTime": "2021-12-10T08:39:28.517",
                                            "endTime": "2021-12-10T08:39:30.04",
                                            "serviceExceptionJson": "{\"errorCode\":\"ModelRefresh_ShortMessage_ProcessingError\",\"errorDescription\":\"0xC112001C: Expression.Error: Forced Error. . The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC11C0006: The current operation was cancelled because another operation in the transaction failed.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\"}",
                                            "type": "Data"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Cancels the specified refresh operation for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "Datasets_CancelRefreshInGroup",
                "consumes": [],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "description": "The workspace ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "refreshId",
                        "description": "The refresh ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "fdb91b8f-0a9b-44c1-b6c0-0cb185c6ebfb",
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "87f31ef7-1e3a-4006-9b0b-191693e79e9e"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetRefreshScheduleInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RefreshSchedule"
                        }
                    }
                },
                "x-ms-examples": {
                    "Refresh schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [
                                        "Sunday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "05:00",
                                        "11:30",
                                        "17:30",
                                        "23:00"
                                    ],
                                    "enabled": true,
                                    "localTimeZoneId": "UTC",
                                    "notifyOption": "MailOnFailure"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for the specified dataset from the specified workspace.",
                "description": "\nA request that disables the refresh schedule should contain no other changes.\n\nAt least one day must be specified. If no times are specified, then Power BI will use a default single time per day.\n\n## Permissions\n\n- The user must be the dataset owner.\n- This API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThe limit on the number of time slots per day depends on whether a [Premium](/power-bi/admin/service-premium-what-is) or Shared capacity is used.\n<br><br>",
                "operationId": "Datasets_UpdateRefreshScheduleInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasetModelRefreshScheduleRequest",
                        "description": "Update Refresh Schedule parameters, by specifying all or some of the parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RefreshScheduleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Change the notification option of a refresh schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "notifyOption": "NoNotification"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Change the days and times of a refresh schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "days": [
                                        "Sunday",
                                        "Tuesday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "07:00",
                                        "11:30",
                                        "16:00",
                                        "23:30"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Update the times of a refresh schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "times": [
                                        "08:00",
                                        "16:00"
                                    ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Disable a scheduled refresh example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "enabled": false
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/directQueryRefreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule for a specified [DirectQuery](/power-bi/connect-data/desktop-directquery-about) or [LiveConnection](/power-bi/connect-data/desktop-directquery-about#live-connections) dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetDirectQueryRefreshScheduleInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DirectQueryRefreshSchedule"
                        }
                    }
                },
                "x-ms-examples": {
                    "Days and times schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [
                                        "Sunday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "05:00",
                                        "11:30",
                                        "17:30",
                                        "23:00"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    },
                    "Frequency schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "frequency": 15,
                                    "days": [],
                                    "times": [],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for a specified [DirectQuery](/power-bi/connect-data/desktop-directquery-about) or [LiveConnection](/power-bi/connect-data/desktop-directquery-about#live-connections) dataset from the specified workspace.",
                "description": "\nA request should contain either a set of days and times *or* a valid frequency, but not both. If you choose a set of days without specifying any times, then Power BI will use a default single time per day. Setting the frequency will automatically overwrite the days and times setting.\n\n## Permissions\n\n- The user must be the dataset owner.\n- This API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "Datasets_UpdateDirectQueryRefreshScheduleInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "description": "The dataset ID",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "datasetDQRefreshScheduleRequest",
                        "description": "Patch DirectQuery or LiveConnection Refresh Schedule parameters, by specifying all or some of the parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DirectQueryRefreshScheduleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Set a frequency based schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "frequency": 30
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Set a days and times based schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "days": [
                                        "Sunday",
                                        "Tuesday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "07:00",
                                        "11:30",
                                        "16:00",
                                        "23:30"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Update the times of an existing days and times based schedule example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "times": [
                                        "07:00",
                                        "16:30",
                                        "23:30"
                                    ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/parameters": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of parameters for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.Read.All or Dataset.ReadWrite.All\n\n## Limitations\n\n- Datasets with SQL, Oracle, Teradata, and SAP HANA [DirectQuery](/power-bi/connect-data/desktop-directquery-about) connections aren't supported.\n- Datasets created or modified using the public [XMLA endpoint](/power-bi/admin/service-premium-connect-tools) aren't supported.\n<br><br>",
                "operationId": "Datasets_GetParametersInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MashupParameters"
                        }
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "name": "ServerName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTest.database.windows.net"
                                        },
                                        {
                                            "name": "DatabaseName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTestDB"
                                        },
                                        {
                                            "name": "FromDate",
                                            "type": "DateTime",
                                            "isRequired": true,
                                            "currentValue": "2/8/2002 12:00:00 AM"
                                        },
                                        {
                                            "name": "FilterBlanks",
                                            "type": "Logical",
                                            "isRequired": true,
                                            "currentValue": "TRUE"
                                        },
                                        {
                                            "name": "MaxId",
                                            "type": "Number",
                                            "isRequired": true,
                                            "currentValue": "77"
                                        },
                                        {
                                            "name": "AnyParam",
                                            "type": "Any",
                                            "isRequired": true,
                                            "currentValue": "uu63"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/Default.UpdateParameters": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the parameters values for the specified dataset from the specified workspace.",
                "description": "\n> [!NOTE]\n> We recommend using [enhanced dataset metadata](/power-bi/connect-data/desktop-enhanced-dataset-metadata) with this API call.\n\n> [!IMPORTANT]\n>\n> - If you're using **enhanced dataset metadata**, refresh the dataset to apply the new parameter values.\n> - If you're not using **enhanced dataset metadata**, wait 30 minutes for the update data sources operation to complete, and then refresh the dataset.\n\n## Permissions\n\n- The user must be the dataset owner.\n- This API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- Datasets created or modified using the public [XMLA endpoint](/power-bi/admin/service-premium-connect-tools) aren't supported. To make changes to those datasets, the admin must use the Azure Analysis Services client library for Tabular Object Model.\n- [DirectQuery](/power-bi/connect-data/desktop-directquery-about) connections are only supported with [enhanced dataset metadata](/power-bi/connect-data/desktop-enhanced-dataset-metadata).\n- Datasets with Azure Analysis Services live connections aren't supported.\n- Maximum of 100 parameters per request.\n- All specified parameters must exist in the dataset.\n- Parameters values should be of the expected type.\n- The parameter list can't be empty or include duplicate parameters.\n- Parameters names are case-sensitive.\n- Parameter `IsRequired` must have a non-empty value.\n- The parameter types `Any` and `Binary` can't be updated.\n<br><br>",
                "operationId": "Datasets_UpdateParametersInGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "updateMashupParametersRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateMashupParametersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateMashupParametersRequest": {
                                "updateDetails": [
                                    {
                                        "name": "DatabaseName",
                                        "newValue": "NewDB"
                                    },
                                    {
                                        "name": "MaxId",
                                        "newValue": "5678"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/datasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of data sources for the specified dataset from the specified workspace.",
                "description": "\n## Permissions\n\nThis API call can be called by a service principal profile. For more information see: [Service principal profiles in Power BI Embedded](/power-bi/developer/embedded/embed-multi-tenancy).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "Datasets_GetDatasourcesInGroup",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "description": "The workspace ID",
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "datasetId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Datasources"
                        }
                    }
                },
                "x-ms-examples": {
                    "Analysis Services example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "AnalysisServices",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SQL example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Excel example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "File",
                                            "connectionDetails": {
                                                "path": "c:\\users\\username\\documents\\orders1.xlsx"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "OData example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "OData",
                                            "connectionDetails": {
                                                "url": "http://services.odata.org/MyOdata/MyOdata.svc"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SharePoint example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "SharePointList",
                                            "connectionDetails": {
                                                "url": "https://microsoft.sharepoint.com/hello/myproj/"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SAP HANA example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "value": [
                                    {
                                        "datasourceType": "SAPHana",
                                        "connectionDetails": {
                                            "server": "My-SapHana-Server",
                                            "database": "My-SapHana-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                        "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                    }
                                ]
                            }
                        }
                    },
                    "Oracle example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "value": [
                                    {
                                        "datasourceType": "Oracle",
                                        "connectionDetails": {
                                            "server": "My-Oracle-Server",
                                            "database": "My-Oracle-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                        "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                    }
                                ]
                            }
                        }
                    },
                    "Extension datasource example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "Extension",
                                            "datasourceId": "70540d95-4c8e-41ae-88c6-27a103b12841",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "connectionDetails": {
                                                "kind": "AzureDataExplorer",
                                                "path": "https://myserver.kusto.windows.net"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Microsoft Exchange datasource example": {
                        "parameters": {
                            "groupId": "f089354e-8366-4e18-aea3-4cb4a3a50b48",
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "datasourceType": "Exchange",
                                            "datasourceId": "4d126fc8-1568-46aa-ba16-ccf19b18f012",
                                            "gatewayId": "7f1c4e55-544b-403f-b132-da0d3a024674",
                                            "connectionDetails": {
                                                "emailAddress": "john@contoso.com"
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
[...]
